.flex-space-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-mobile {
    flex-direction: row !important;
}

.product-color{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}